{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uranium - Simple Form</title>
    <link rel="stylesheet" href="{% static 'css/cal/cal-home.css' %}">
    <style>
        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }
    </style>
</head>
<body>
<header>
    <a style="text-decoration:none" href="/">
        <div class="logo">Uranium</div>
    </a>
    <div class="menu-toggle" id="menu-toggle">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
    <nav id="navbar">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/calculator">Trade Calculator</a>
            </li>
            <li>
                <a href="#journal">Trade Journal</a>
            </li>
            <li>
                <a href="#about">About</a>
            </li>
        </ul>
    </nav>
</header>
<section class="form-container" id="form">
    <div class="form-box">
        <h1>Position Size Calculator</h1>
        <form method="POST">
            {% csrf_token %}
            <!-- Hidden Input to Store Selected Option -->
            <input type="hidden" name="hidden" id="hidden" value="percent">
            <!-- Dropdown Menu -->
            <div class="form-group">
                <label for="dropdown">Calculate based on :</label>
                <select name="calselect" id="dropdown" onchange="location = this.value;">
                    <option style="display: none"> Select an option</option>
                    <option value="{% url 'calculator:percentage' %}" >Percentage</option>
                    <option value="{% url 'calculator:lots' %}" >Lots</option>
                </select>
            </div>

        </form>
    </div>
</section>
<footer>
    <p>&copy; 2024 Uranium. All rights reserved.</p>
</footer>
<script src="{% static 'js/cal.js' %}"></script>
<script>

</script>
</body>
</html>

